@charset "utf-8";
/* CSS Document */
@keyframes a-zoom
{
0% {transform: scale(1,1);-webkit-transform: scale(1,1);}
50% {transform: scale(1.2,1.2);-webkit-transform: scale(1.2,1.2);}
100%{transform: scale(1,1);-webkit-transform: scale(1,1);}
}

@-moz-keyframes a-zoom /* Firefox */
{
0% {transform: scale(1,1);-webkit-transform: scale(1,1);}
50% {transform: scale(1.2,1.2);-webkit-transform: scale(1.2,1.2);}
100%{transform: scale(1,1);-webkit-transform: scale(1,1);}
}

@-webkit-keyframes a-zoom /* Safari 和 Chrome */
{
0% {transform: scale(1,1);-webkit-transform: scale(1,1);}
50% {transform: scale(1.2,1.2);-webkit-transform: scale(1.2,1.2);}
100%{transform: scale(1,1);-webkit-transform: scale(1,1);}
}

.active .a-zoom{animation-name:a-zoom;animation-duration:0.5s; -webkit-animation-name:a-zoom;-webkit-animation-duration:0.5s;}

@keyframes a-next
{
0%{bottom:3%}
50%{bottom:5%}
100%{bottom:3%}
}

@-moz-keyframes a-next /* Firefox */
{
0%{bottom:3%}
50%{bottom:5%}
100%{bottom:3%}
}

@-webkit-keyframes a-next /* Safari 和 Chrome */
{
0%{bottom:3%}
50%{bottom:5%}
100%{bottom:3%}
}

.active .a-next{animation-name:a-next;animation-duration:1s; -webkit-animation-name:a-next;-webkit-animation-duration:1s;animation-iteration-count:infinite;-webkit-animation-iteration-count:infinite;animation-timing-function: linear;-webkit-animation-timing-function: linear;}

.delay-1{animation-delay:1s;-webkit-animation-delay:1s;}
.delay-2{animation-delay:1.1s;-webkit-animation-delay:1.1s;}
.delay-3{animation-delay:1.2s;-webkit-animation-delay:1.2s;}
.delay-4{animation-delay:1.3s;-webkit-animation-delay:1.3s;}
.delay-5{animation-delay:1.4s;-webkit-animation-delay:1.4s;}
.delay-6{animation-delay:1.5s;-webkit-animation-delay:1.5s;}
.delay-7{animation-delay:1.6s;-webkit-animation-delay:1.6s;}
.delay-8{animation-delay:1.7s;-webkit-animation-delay:1.7s;}
.delay-9{animation-delay:1.8s;-webkit-animation-delay:1.8s;}
.delay-10{animation-delay:1.9s;-webkit-animation-delay:1.9s;}
.delay-11{animation-delay:2s;-webkit-animation-delay:2s;}
.delay-12{animation-delay:2.1s;-webkit-animation-delay:2.1s;}