<<<<<<< HEAD
@charset "utf-8";
/* CSS Document */
@keyframes a-zoom
{
0% {transform: scale(1,1);-webkit-transform: scale(1,1);}
50% {transform: scale(1.2,1.2);-webkit-transform: scale(1.2,1.2);}
100%{transform: scale(1,1);-webkit-transform: scale(1,1);}
}

@-moz-keyframes a-zoom /* Firefox */
{
0% {transform: scale(1,1);-webkit-transform: scale(1,1);}
50% {transform: scale(1.2,1.2);-webkit-transform: scale(1.2,1.2);}
100%{transform: scale(1,1);-webkit-transform: scale(1,1);}
}

@-webkit-keyframes a-zoom /* Safari 和 Chrome */
{
0% {transform: scale(1,1);-webkit-transform: scale(1,1);}
50% {transform: scale(1.2,1.2);-webkit-transform: scale(1.2,1.2);}
100%{transform: scale(1,1);-webkit-transform: scale(1,1);}
}

.active .a-zoom{animation-name:a-zoom;animation-duration:0.5s; -webkit-animation-name:a-zoom;-webkit-animation-duration:0.5s;}

@keyframes a-next
{
0%{bottom:3%}
50%{bottom:5%}
100%{bottom:3%}
}

@-moz-keyframes a-next /* Firefox */
{
0%{bottom:3%}
50%{bottom:5%}
100%{bottom:3%}
}

@-webkit-keyframes a-next /* Safari 和 Chrome */
{
0%{bottom:3%}
50%{bottom:5%}
100%{bottom:3%}
}

.active .a-next{animation-name:a-next;animation-duration:1s; -webkit-animation-name:a-next;-webkit-animation-duration:1s;animation-iteration-count:infinite;-webkit-animation-iteration-count:infinite;animation-timing-function: linear;-webkit-animation-timing-function: linear;}

.active .a-heart{animation-name:a-zoom;animation-duration:1s; -webkit-animation-name:a-zoom;-webkit-animation-duration:1s;animation-iteration-count:infinite;-webkit-animation-iteration-count:infinite;animation-timing-function: linear;-webkit-animation-timing-function: linear;}
/*第二屏 连线*/
@keyframes a-line
{
from {opacity:1;width:0;}
to {opacity:1;}
}

@-moz-keyframes a-line /* Firefox */
{
from {opacity:1;width:0;}
to {opacity:1;}
}

@-webkit-keyframes a-line /* Safari 和 Chrome */
{
from {opacity:1;width:0;}
to {opacity:1;}
}
.active .a-line{animation-name:a-line;animation-duration:.5s; -webkit-animation-name:a-line;-webkit-animation-duration:.5s;animation-timing-function: linear;-webkit-animation-timing-function: linear;animation-fill-mode: forwards;-webkit-animation-fill-mode: forwards;}
.active .a-p{animation-name:a-line;animation-duration:2s; -webkit-animation-name:a-line;-webkit-animation-duration:2s;animation-timing-function: linear;-webkit-animation-timing-function: linear;animation-fill-mode: forwards;-webkit-animation-fill-mode: forwards;}
/*第二屏信息框*/
@keyframes a-box-w
{
0% {opacity:1;width:0; height:0px;}
50%{opacity:1;width:220px;height:0px;}
100% {opacity:1;width:220px;}
}

@-moz-keyframes a-box-w /* Firefox */
{
0% {opacity:1;width:0; height:0px;}
50%{opacity:1;width:220px;height:0px;}
100% {opacity:1;width:220px;}
}

@-webkit-keyframes a-box-w /* Safari 和 Chrome */
{
0% {opacity:1;width:0; height:0px;}
50%{opacity:1;width:220px;height:0px;}
100% {opacity:1;width:220px;}
}
.active .a-box-w{animation-name:a-box-w;animation-duration:1s; -webkit-animation-name:a-box-w;-webkit-animation-duration:1s;animation-timing-function: linear;-webkit-animation-timing-function: linear;animation-fill-mode: forwards;-webkit-animation-fill-mode: forwards;}
/*case出现*/
@keyframes list
{
from { transform:scale(2,2); opacity:0; left:0; }
to { transform:scale(1,1);opacity:1;}
}

@-webkit-keyframes list
{
from { transform:scale(2,2); opacity:0; left:0; }
to { transform:scale(1,1);opacity:1;}
}

.active .a-case{-webkit-animation-name: list;-webkit-animation-duration:1s;-moz-animation-name: list;-moz-animation-duration:1s;-o-animation-name: list;-o-animation-duration:1s;animation-name: list;animation-duration:1s;animation-fill-mode:forwards;-webkit-animation-fill-mode:forwards;-moz-animation-fill-mode:forwards;-o-animation-fill-mode:forwards; }
/*云朵*/
@keyframes cloud1
{
from { left:-200px; }
to { }
}

@-webkit-keyframes cloud1
{
from { left:-200px; }
to { }
}
.active .a-cloud{animation:cloud1 80s linear alternate infinite; -webkit-animation:cloud1 80s linear alternate infinite;}
@keyframes cloud2
{
from { left:2000px; }
to { }
}

@-webkit-keyframes cloud2
{
from { left:2000px; }
to { }
}
.active .a-cloud2{animation:cloud2 60s linear alternate infinite; -webkit-animation:cloud2 60s linear alternate infinite;}

.active .a-cloud3{animation:cloud2 50s linear alternate infinite; -webkit-animation:cloud2 50s linear alternate infinite;}
@keyframes cloud0
{
0% {opacity:1; transform:scale(0,0); }
10%{transform:scale(1,1);}

30%{opacity:1; left:480px; bottom:210px; transform:rotate(5deg);}
31%{opacity:1; left:480px; bottom:210px; transform:rotate(0deg);}
32%{opacity:1; left:480px; bottom:210px; transform:rotate(-5deg);}
33%{opacity:1; left:480px; bottom:210px; transform:rotate(0deg);}
34%{opacity:1; left:480px; bottom:210px; transform:rotate(5deg);}
35%{opacity:1; left:480px; bottom:210x; transform:rotate(0deg);}
36%{opacity:1; left:480px; bottom:210px; transform:rotate(-5deg);}
37%{opacity:1; left:480px; bottom:210px; transform:rotate(0deg);}
38%{opacity:1; left:480px; bottom:210px; transform:rotate(5deg);}
39%{opacity:1; left:480px; bottom:210px; transform:rotate(0deg);}
40%{opacity:1; left:480px; bottom:210px; transform:rotate(0deg);}
60%{opacity:1; left:1150px; bottom:253px; transform:rotate(5deg);}
61%{opacity:1; left:1150px; bottom:253px; transform:rotate(0deg);}
62%{opacity:1; left:1150px; bottom:253px; transform:rotate(-5deg);}
63%{opacity:1; left:1150px; bottom:253px; transform:rotate(0deg);}
64%{opacity:1; left:1150px; bottom:253px; transform:rotate(5deg);}
65%{opacity:1; left:1150px; bottom:253px; transform:rotate(0deg);}
66%{opacity:1; left:1150px; bottom:253px; transform:rotate(-5deg);}
67%{opacity:1; left:1150px; bottom:253px; transform:rotate(0deg);}
68%{opacity:1; left:1150px; bottom:253px; transform:rotate(5deg);}
69%{opacity:1; left:1150px; bottom:253px; transform:rotate(0deg);}
70%{opacity:1; left:1150px; bottom:253px; transform:rotate(0deg); transform:scale(1,1);}
90%{ opacity:1; left:2000px; bottom:717px; transform:scale(1,1); }
100%{ opacity:1; left:2000px; bottom:717px; transform:scale(0,0); }
}

@-webkit-keyframes cloud0
{
0% {opacity:1; transform:scale(0,0); }
10%{transform:scale(1,1);}

30%{opacity:1; left:480px; bottom:210px; transform:rotate(5deg);}
31%{opacity:1; left:480px; bottom:210px; transform:rotate(0deg);}
32%{opacity:1; left:480px; bottom:210px; transform:rotate(-5deg);}
33%{opacity:1; left:480px; bottom:210px; transform:rotate(0deg);}
34%{opacity:1; left:480px; bottom:210px; transform:rotate(5deg);}
35%{opacity:1; left:480px; bottom:210x; transform:rotate(0deg);}
36%{opacity:1; left:480px; bottom:210px; transform:rotate(-5deg);}
37%{opacity:1; left:480px; bottom:210px; transform:rotate(0deg);}
38%{opacity:1; left:480px; bottom:210px; transform:rotate(5deg);}
39%{opacity:1; left:480px; bottom:210px; transform:rotate(0deg);}
40%{opacity:1; left:480px; bottom:210px; transform:rotate(0deg);}
60%{opacity:1; left:1150px; bottom:253px; transform:rotate(5deg);}
61%{opacity:1; left:1150px; bottom:253px; transform:rotate(0deg);}
62%{opacity:1; left:1150px; bottom:253px; transform:rotate(-5deg);}
63%{opacity:1; left:1150px; bottom:253px; transform:rotate(0deg);}
64%{opacity:1; left:1150px; bottom:253px; transform:rotate(5deg);}
65%{opacity:1; left:1150px; bottom:253px; transform:rotate(0deg);}
66%{opacity:1; left:1150px; bottom:253px; transform:rotate(-5deg);}
67%{opacity:1; left:1150px; bottom:253px; transform:rotate(0deg);}
68%{opacity:1; left:1150px; bottom:253px; transform:rotate(5deg);}
69%{opacity:1; left:1150px; bottom:253px; transform:rotate(0deg);}
70%{opacity:1; left:1150px; bottom:253px; transform:rotate(0deg); transform:scale(1,1);}
90%{ opacity:1; left:2000px; bottom:717px; transform:scale(1,1); }
100%{ opacity:1; left:2000px; bottom:717px; transform:scale(0,0); }
}
.active .a-cloud0{animation:cloud0 20s linear 1s; -webkit-animation:cloud0 20s linear 1s;}

@keyframes rain
{
from {opacity:1;  }
to { opacity:1; top:0px;}
}

@-webkit-keyframes rain
{
from {opacity:1;   }
to { opacity:1; top:0px;}
}
.active .a-rain1{animation:rain 2s linear  7s; -webkit-animation:rain 2s linear 7s ;}
.active .a-rain2{animation:rain 2s linear  13s; -webkit-animation:rain 2s linear 13s ;}

@keyframes grow
{
from {opacity:1;  height:0;transform:scale(0,1);  }
to { opacity:1;transform:scale(1,1); }
}

@-webkit-keyframes grow
{
from {opacity:1;  height:0;transform:scale(0,1);  }
to { opacity:1;transform:scale(1,1); }
}
.active .a-grow1{animation:grow .5s linear 9s; -webkit-animation:grow .5s linear 9s ; animation-fill-mode:forwards;-webkit-animation-fill-mode:forwards;}
.active .a-grow2{animation:grow .5s linear  9.5s; -webkit-animation:grow .5s linear 9.5s ;animation-fill-mode:forwards;-webkit-animation-fill-mode:forwards;}
.active .a-grow3{animation:grow .5s linear  9.7s; -webkit-animation:grow .5s linear 9.7s ;animation-fill-mode:forwards;-webkit-animation-fill-mode:forwards;}

@keyframes shake
{
0% { transform:rotate(0deg); }
25%{transform:rotate(-5deg);}
50%{transform:rotate(0deg);}
75%{transform:rotate(5deg);}
100% { transform:rotate(0deg); }
}

@-webkit-keyframes shake
{
0% { transform:rotate(0deg); }
25%{transform:rotate(-5deg);}
50%{transform:rotate(0deg);}
75%{transform:rotate(5deg);}
100% { transform:rotate(0deg); }
}
.active .a-grow4{animation:grow .5s linear  15.7s,shake 4s linear 17s alternate infinite; -webkit-animation:grow .5s linear 15.7s,shake 4s linear 17s alternate infinite;animation-fill-mode:forwards;-webkit-animation-fill-mode:forwards;}


.delay-1{animation-delay:1s;-webkit-animation-delay:1s;}
.delay-2{animation-delay:1.1s;-webkit-animation-delay:1.1s;}
.delay-3{animation-delay:1.2s;-webkit-animation-delay:1.2s;}
.delay-4{animation-delay:1.3s;-webkit-animation-delay:1.3s;}
.delay-5{animation-delay:1.4s;-webkit-animation-delay:1.4s;}
.delay-6{animation-delay:1.5s;-webkit-animation-delay:1.5s;}
.delay-7{animation-delay:1.6s;-webkit-animation-delay:1.6s;}
.delay-8{animation-delay:1.7s;-webkit-animation-delay:1.7s;}
.delay-9{animation-delay:1.8s;-webkit-animation-delay:1.8s;}
.delay-10{animation-delay:1.9s;-webkit-animation-delay:1.9s;}
.delay-11{animation-delay:2s;-webkit-animation-delay:2s;}
.delay-12{animation-delay:2.1s;-webkit-animation-delay:2.1s;}


.delay-p1{animation-delay:2.5s;-webkit-animation-delay:2.5s;}
.delay-p2{animation-delay:3.5s;-webkit-animation-delay:3.5s;}
.delay-p3{animation-delay:4.5s;-webkit-animation-delay:4.5s;}
.delay-p4{animation-delay:5.5s;-webkit-animation-delay:5.5s;}
.delay-p5{animation-delay:6.5s;-webkit-animation-delay:6.5s;}
.delay-p6{animation-delay:7.5s;-webkit-animation-delay:7.5s;}
.delay-p7{animation-delay:8.5s;-webkit-animation-delay:8.5s;}
.delay-p8{animation-delay:9.5s;-webkit-animation-delay:9.5s;}
.delay-p9{animation-delay:10.5s;-webkit-animation-delay:10.5s;}
.delay-p10{animation-delay:11.5s;-webkit-animation-delay:11.5s;}
.delay-p11{animation-delay:12.5s;-webkit-animation-delay:12.5s;}
.delay-p12{animation-delay:13.5s;-webkit-animation-delay:13.5s;}
.delay-p13{animation-delay:14.5s;-webkit-animation-delay:14.5s;}



=======
/*
 * Author: Miko
 * Version: 0.1.0
 * Compile Date: 2015-10-13 14:23
*/ 
@charset "utf-8";@keyframes a-zoom{0%{transform:scale(1,1);-webkit-transform:scale(1,1)}50%{transform:scale(1.2,1.2);-webkit-transform:scale(1.2,1.2)}100%{transform:scale(1,1);-webkit-transform:scale(1,1)}}@-moz-keyframes a-zoom{0%{transform:scale(1,1);-webkit-transform:scale(1,1)}50%{transform:scale(1.2,1.2);-webkit-transform:scale(1.2,1.2)}100%{transform:scale(1,1);-webkit-transform:scale(1,1)}}@-webkit-keyframes a-zoom{0%{transform:scale(1,1);-webkit-transform:scale(1,1)}50%{transform:scale(1.2,1.2);-webkit-transform:scale(1.2,1.2)}100%{transform:scale(1,1);-webkit-transform:scale(1,1)}}.active .a-zoom{animation-name:a-zoom;animation-duration:.5s;-webkit-animation-name:a-zoom;-webkit-animation-duration:.5s}@keyframes a-next{0%{bottom:3%}50%{bottom:5%}100%{bottom:3%}}@-moz-keyframes a-next{0%{bottom:3%}50%{bottom:5%}100%{bottom:3%}}@-webkit-keyframes a-next{0%{bottom:3%}50%{bottom:5%}100%{bottom:3%}}.active .a-next{animation-name:a-next;animation-duration:1s;-webkit-animation-name:a-next;-webkit-animation-duration:1s;animation-iteration-count:infinite;-webkit-animation-iteration-count:infinite;animation-timing-function:linear;-webkit-animation-timing-function:linear}.active .a-heart{animation-name:a-zoom;animation-duration:1s;-webkit-animation-name:a-zoom;-webkit-animation-duration:1s;animation-iteration-count:infinite;-webkit-animation-iteration-count:infinite;animation-timing-function:linear;-webkit-animation-timing-function:linear}@keyframes a-line{from{opacity:1;width:0}to{opacity:1}}@-moz-keyframes a-line{from{opacity:1;width:0}to{opacity:1}}@-webkit-keyframes a-line{from{opacity:1;width:0}to{opacity:1}}.active .a-line{animation-name:a-line;animation-duration:.5s;-webkit-animation-name:a-line;-webkit-animation-duration:.5s;animation-timing-function:linear;-webkit-animation-timing-function:linear;animation-fill-mode:forwards;-webkit-animation-fill-mode:forwards}.active .a-p{animation-name:a-line;animation-duration:2s;-webkit-animation-name:a-line;-webkit-animation-duration:2s;animation-timing-function:linear;-webkit-animation-timing-function:linear;animation-fill-mode:forwards;-webkit-animation-fill-mode:forwards}@keyframes a-box-w{0%{opacity:1;width:0;height:0}50%{opacity:1;width:220px;height:0}100%{opacity:1;width:220px}}@-moz-keyframes a-box-w{0%{opacity:1;width:0;height:0}50%{opacity:1;width:220px;height:0}100%{opacity:1;width:220px}}@-webkit-keyframes a-box-w{0%{opacity:1;width:0;height:0}50%{opacity:1;width:220px;height:0}100%{opacity:1;width:220px}}.active .a-box-w{animation-name:a-box-w;animation-duration:1s;-webkit-animation-name:a-box-w;-webkit-animation-duration:1s;animation-timing-function:linear;-webkit-animation-timing-function:linear;animation-fill-mode:forwards;-webkit-animation-fill-mode:forwards}@keyframes list{from{transform:scale(2,2);opacity:0;left:0}to{transform:scale(1,1);opacity:1}}@-webkit-keyframes list{from{transform:scale(2,2);opacity:0;left:0}to{transform:scale(1,1);opacity:1}}.active .a-case{-webkit-animation-name:list;-webkit-animation-duration:1s;-moz-animation-name:list;-moz-animation-duration:1s;-o-animation-name:list;-o-animation-duration:1s;animation-name:list;animation-duration:1s;animation-fill-mode:forwards;-webkit-animation-fill-mode:forwards;-moz-animation-fill-mode:forwards;-o-animation-fill-mode:forwards}@keyframes cloud1{from{left:-200px}to{}}@-webkit-keyframes cloud1{from{left:-200px}to{}}.active .a-cloud{animation:cloud1 80s linear alternate infinite;-webkit-animation:cloud1 80s linear alternate infinite}@keyframes cloud2{from{left:2000px}to{}}@-webkit-keyframes cloud2{from{left:2000px}to{}}.active .a-cloud2{animation:cloud2 60s linear alternate infinite;-webkit-animation:cloud2 60s linear alternate infinite}.active .a-cloud3{animation:cloud2 50s linear alternate infinite;-webkit-animation:cloud2 50s linear alternate infinite}@keyframes cloud0{0%{opacity:1;transform:scale(0,0)}10%{transform:scale(1,1)}30%{opacity:1;left:480px;bottom:210px;transform:rotate(5deg)}31%{opacity:1;left:480px;bottom:210px;transform:rotate(0deg)}32%{opacity:1;left:480px;bottom:210px;transform:rotate(-5deg)}33%{opacity:1;left:480px;bottom:210px;transform:rotate(0deg)}34%{opacity:1;left:480px;bottom:210px;transform:rotate(5deg)}35%{opacity:1;left:480px;bottom:210x;transform:rotate(0deg)}36%{opacity:1;left:480px;bottom:210px;transform:rotate(-5deg)}37%{opacity:1;left:480px;bottom:210px;transform:rotate(0deg)}38%{opacity:1;left:480px;bottom:210px;transform:rotate(5deg)}39%{opacity:1;left:480px;bottom:210px;transform:rotate(0deg)}40%{opacity:1;left:480px;bottom:210px;transform:rotate(0deg)}60%{opacity:1;left:1150px;bottom:253px;transform:rotate(5deg)}61%{opacity:1;left:1150px;bottom:253px;transform:rotate(0deg)}62%{opacity:1;left:1150px;bottom:253px;transform:rotate(-5deg)}63%{opacity:1;left:1150px;bottom:253px;transform:rotate(0deg)}64%{opacity:1;left:1150px;bottom:253px;transform:rotate(5deg)}65%{opacity:1;left:1150px;bottom:253px;transform:rotate(0deg)}66%{opacity:1;left:1150px;bottom:253px;transform:rotate(-5deg)}67%{opacity:1;left:1150px;bottom:253px;transform:rotate(0deg)}68%{opacity:1;left:1150px;bottom:253px;transform:rotate(5deg)}69%{opacity:1;left:1150px;bottom:253px;transform:rotate(0deg)}70%{opacity:1;left:1150px;bottom:253px;transform:rotate(0deg);transform:scale(1,1)}90%{opacity:1;left:2000px;bottom:717px;transform:scale(1,1)}100%{opacity:1;left:2000px;bottom:717px;transform:scale(0,0)}}@-webkit-keyframes cloud0{0%{opacity:1;transform:scale(0,0)}10%{transform:scale(1,1)}30%{opacity:1;left:480px;bottom:210px;transform:rotate(5deg)}31%{opacity:1;left:480px;bottom:210px;transform:rotate(0deg)}32%{opacity:1;left:480px;bottom:210px;transform:rotate(-5deg)}33%{opacity:1;left:480px;bottom:210px;transform:rotate(0deg)}34%{opacity:1;left:480px;bottom:210px;transform:rotate(5deg)}35%{opacity:1;left:480px;bottom:210x;transform:rotate(0deg)}36%{opacity:1;left:480px;bottom:210px;transform:rotate(-5deg)}37%{opacity:1;left:480px;bottom:210px;transform:rotate(0deg)}38%{opacity:1;left:480px;bottom:210px;transform:rotate(5deg)}39%{opacity:1;left:480px;bottom:210px;transform:rotate(0deg)}40%{opacity:1;left:480px;bottom:210px;transform:rotate(0deg)}60%{opacity:1;left:1150px;bottom:253px;transform:rotate(5deg)}61%{opacity:1;left:1150px;bottom:253px;transform:rotate(0deg)}62%{opacity:1;left:1150px;bottom:253px;transform:rotate(-5deg)}63%{opacity:1;left:1150px;bottom:253px;transform:rotate(0deg)}64%{opacity:1;left:1150px;bottom:253px;transform:rotate(5deg)}65%{opacity:1;left:1150px;bottom:253px;transform:rotate(0deg)}66%{opacity:1;left:1150px;bottom:253px;transform:rotate(-5deg)}67%{opacity:1;left:1150px;bottom:253px;transform:rotate(0deg)}68%{opacity:1;left:1150px;bottom:253px;transform:rotate(5deg)}69%{opacity:1;left:1150px;bottom:253px;transform:rotate(0deg)}70%{opacity:1;left:1150px;bottom:253px;transform:rotate(0deg);transform:scale(1,1)}90%{opacity:1;left:2000px;bottom:717px;transform:scale(1,1)}100%{opacity:1;left:2000px;bottom:717px;transform:scale(0,0)}}.active .a-cloud0{animation:cloud0 20s linear 1s;-webkit-animation:cloud0 20s linear 1s}@keyframes rain{from{opacity:1}to{opacity:1;top:0}}@-webkit-keyframes rain{from{opacity:1}to{opacity:1;top:0}}.active .a-rain1{animation:rain 2s linear 7s;-webkit-animation:rain 2s linear 7s}.active .a-rain2{animation:rain 2s linear 13s;-webkit-animation:rain 2s linear 13s}@keyframes grow{from{opacity:1;height:0;transform:scale(0,1)}to{opacity:1;transform:scale(1,1)}}@-webkit-keyframes grow{from{opacity:1;height:0;transform:scale(0,1)}to{opacity:1;transform:scale(1,1)}}.active .a-grow1{animation:grow .5s linear 9s;-webkit-animation:grow .5s linear 9s;animation-fill-mode:forwards;-webkit-animation-fill-mode:forwards}.active .a-grow2{animation:grow .5s linear 9.5s;-webkit-animation:grow .5s linear 9.5s;animation-fill-mode:forwards;-webkit-animation-fill-mode:forwards}.active .a-grow3{animation:grow .5s linear 9.7s;-webkit-animation:grow .5s linear 9.7s;animation-fill-mode:forwards;-webkit-animation-fill-mode:forwards}@keyframes shake{0%{transform:rotate(0deg)}25%{transform:rotate(-5deg)}50%{transform:rotate(0deg)}75%{transform:rotate(5deg)}100%{transform:rotate(0deg)}}@-webkit-keyframes shake{0%{transform:rotate(0deg)}25%{transform:rotate(-5deg)}50%{transform:rotate(0deg)}75%{transform:rotate(5deg)}100%{transform:rotate(0deg)}}.active .a-grow4{animation:grow .5s linear 15.7s,shake 4s linear 17s alternate infinite;-webkit-animation:grow .5s linear 15.7s,shake 4s linear 17s alternate infinite;animation-fill-mode:forwards;-webkit-animation-fill-mode:forwards}.delay-1{animation-delay:1s;-webkit-animation-delay:1s}.delay-2{animation-delay:1.1s;-webkit-animation-delay:1.1s}.delay-3{animation-delay:1.2s;-webkit-animation-delay:1.2s}.delay-4{animation-delay:1.3s;-webkit-animation-delay:1.3s}.delay-5{animation-delay:1.4s;-webkit-animation-delay:1.4s}.delay-6{animation-delay:1.5s;-webkit-animation-delay:1.5s}.delay-7{animation-delay:1.6s;-webkit-animation-delay:1.6s}.delay-8{animation-delay:1.7s;-webkit-animation-delay:1.7s}.delay-9{animation-delay:1.8s;-webkit-animation-delay:1.8s}.delay-10{animation-delay:1.9s;-webkit-animation-delay:1.9s}.delay-11{animation-delay:2s;-webkit-animation-delay:2s}.delay-12{animation-delay:2.1s;-webkit-animation-delay:2.1s}.delay-p1{animation-delay:2.5s;-webkit-animation-delay:2.5s}.delay-p2{animation-delay:3.5s;-webkit-animation-delay:3.5s}.delay-p3{animation-delay:4.5s;-webkit-animation-delay:4.5s}.delay-p4{animation-delay:5.5s;-webkit-animation-delay:5.5s}.delay-p5{animation-delay:6.5s;-webkit-animation-delay:6.5s}.delay-p6{animation-delay:7.5s;-webkit-animation-delay:7.5s}.delay-p7{animation-delay:8.5s;-webkit-animation-delay:8.5s}.delay-p8{animation-delay:9.5s;-webkit-animation-delay:9.5s}.delay-p9{animation-delay:10.5s;-webkit-animation-delay:10.5s}.delay-p10{animation-delay:11.5s;-webkit-animation-delay:11.5s}.delay-p11{animation-delay:12.5s;-webkit-animation-delay:12.5s}.delay-p12{animation-delay:13.5s;-webkit-animation-delay:13.5s}.delay-p13{animation-delay:14.5s;-webkit-animation-delay:14.5s}
>>>>>>> master
